<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Precio</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price"/>
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>URL de la imagen</mat-label>
    <input matInput formControlName="image">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Agregar Producto</button>
</form>
