<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field floatLabel="always">
  <mat-label>Precio</mat-label>
  <input matInput type="number" class="example-right-align" placeholder="0" />
  <span matTextPrefix>$&nbsp;</span>
</mat-form-field>

<mat-form-field>
  <mat-label>URL de la imagen</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Descripcion</mat-label>
  <input matInput>
</mat-form-field>



<mat-form-field>
  <mat-label>Descripcion</mat-label>
  <textarea matInput></textarea>
  <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
</mat-form-field>
