<section class="py-3 text-center  animate__animated animate__fadeInDown">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My Products</h1>
      <p class="lead text-body-secondary">Here you can explore all the products available for sale and to publish</p>
    </div>
  </div>
</section>


  <div class="">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col " *ngFor="let product of products">
        <div class="card shadow-sm animate__animated animate__zoomInUp">
          <img class="card-img-top" [src]="product.image" alt="Producto">
          <div class="card-body">
            <p class="card-text">{{ product.name }}</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">


                <button mat-stroked-button (click)="toStatusProduct(product)" *ngIf="product.published">Status</button>

                <div class="d-flex align-items-center gap-2" *ngIf="!product.published">
                  <button mat-raised-button class="p-1" (click)="toSellProduct(product)">Publish</button>
                  <button mat-icon-button (click)="deleteProductDialog(product.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>


              </div>
              <small class="text-body-secondary">{{ product.time }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

