
<mat-toolbar color="primary">

  <button mat-fab extended  (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
    Menu
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container" >
  <mat-drawer #drawer class="example-sidenav" mode="side" [style.height]="'100vh'" [style.width]="'250px'">
    <mat-nav-list>
      <mat-list-item routerLink="/profile/my">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>My Profile</div>
      </mat-list-item>
      <a mat-list-item routerLink="/profile/dashboard">Mis productos</a>
      <a mat-list-item routerLink="/profile/new-product">Añadir producto</a>
      <a mat-list-item routerLink="/profile/sell-history">Historial de ventas</a>
    </mat-nav-list>
    <div style="margin-top: 20px;">
      <button mat-raised-button color="primary" (click)="drawer.toggle()">Cerrar Menú</button>
    </div>
  </mat-drawer>


</mat-drawer-container>

