<mat-drawer-container class="example-container" autosize>
  <!-- Sidenav -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/profile/dashboard">Mi Perfil</a>
      <a mat-list-item routerLink="/profile/dashboard">Mis productos</a>
      <a mat-list-item routerLink="/profile/new-product">Añadir producto</a>
      <a mat-list-item routerLink="/profile/sell-history">Historial de ventas</a>
    </mat-nav-list>
    <div style="margin-top: 20px;">
      <button mat-raised-button color="primary" (click)="drawer.toggle()">Cerrar Menú</button>
    </div>
  </mat-drawer>

  <!-- Contenido principal -->
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">Abrir/Cerrar Menú</button>
    <router-outlet></router-outlet> <!-- Aquí cargará el contenido de las páginas -->
  </div>
</mat-drawer-container>
