<mat-nav-list>
  <mat-list-item routerLink="/profile/my">
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Profile</div>
  </mat-list-item>
  <mat-list-item routerLink="/profile/dashboard">
    <mat-icon matListItemIcon>loyalty</mat-icon>
    <div matListItemTitle>My Products</div>
  </mat-list-item>
  <mat-list-item routerLink="/profile/new-product">
    <mat-icon matListItemIcon>add</mat-icon>
    <div matListItemTitle>Add Product</div>
  </mat-list-item>
  <mat-list-item routerLink="/profile/sell-history">
    <mat-icon matListItemIcon>credit_card_clock</mat-icon>
    <div matListItemTitle>Sales History</div>
  </mat-list-item>
</mat-nav-list>
