<div class="animate__animated animate__fadeInDown">

  <div class="row no-gutters profile-card">
    <!-- Columna 1 para la primera tarjeta -->
    <div class="col-md-6 col-lg-6">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div class="person-name">
            <mat-card-title class="person-name">Sophia Bloom</mat-card-title>
          </div>
        </mat-card-header>
        <img [src]="avatarUrl" alt="avatar">
        <mat-card-content>
          <p>
            {{profileDescription}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-6 col-lg-6 store-card">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <h3 class="display-5">Haldhelp Store</h3>
          <span>{{shopDescription}}</span>

          <div class="d-flex flex-row justify-content-evenly flex-wrap">
            <div class="pt-3 bg-blue text-center skill-block border col-3">
              <h4>743</h4>
              <h6>Sales</h6>
            </div>

            <div class="pt-3 bg-yellow text-center skill-block border col-3">
              <h4>12</h4>
              <h6>Refunds</h6>
            </div>
            <div class="pt-3 bg-red text-center skill-block border col-3">
              <h4>5%</h4>
              <h6>Claims</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="box p-1" >

      </div>
      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <div class="d-flex flex-row justify-content-evenly flex-wrap">
            <span>{{onTimeDelivery}}</span>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <br>
            <hr>
            <span>{{positiveReviews}}</span>
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          </div>
        </mat-card-content>
      </mat-card>
    </div>



  </div>
</div>
