<div class="height">

  <mat-card  appearance="raised" >
    <div class="container mt-5 mb-5 animate__animated animate__fadeInDown">
      <div class="row no-gutters">
        <div class="col-md-4 col-lg-4">
          <!-- Imagen sin flexbox, no se ve afectada por flex-wrap -->
          <img [src]="avatarUrl" alt="avatar" class="imageStyle">
        </div>
        <div class="col-md-8 col-lg-8">
          <div class="d-flex flex-column">

            <!-- Sección con información personal -->
            <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-card text-white border">
              <h3 class="display-5">Sophia Bloom</h3>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-google"></i>
              <i class="fa fa-youtube-play"></i>
              <i class="fa fa-dribbble"></i>
              <i class="fa fa-linkedin"></i>
            </div>

            <!-- Fila con las estadísticas (sin flex-wrap, siempre en una sola fila) -->
            <div class="d-flex flex-row justify-content-evenly flex-wrap">
              <div class="pt-3 bg-blue text-center skill-block border col-3">
                <h4>743</h4>
                <h6>Sales</h6>
              </div>

              <div class="pt-3 bg-yellow text-center skill-block border col-3">
                <h4>12</h4>
                <h6>Refunds</h6>
              </div>
              <div class="pt-3 bg-red text-center skill-block border col-3">
                <h4>5%</h4>
                <h6>Claims</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

</div>
