<div class="animate__animated animate__fadeInDown">

  <div class="row no-gutters ">
    <div class="col-md-6 col-lg-6">
      <mat-card class="product-card" appearance="outlined">
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="{{product?.image}}" alt="product">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-6 col-lg-6 store-card">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <h3 class="display-5">{{product?.name}}</h3>
          <span>{{product?.description}}</span>

          <div class="price">
            <span>Price ${{product?.price}}</span>
          </div>
          <div class="d-flex flex-row justify-content-evenly flex-wrap">
          </div>
        </mat-card-content>
      </mat-card>

      <div class="box p-1">
      </div>

      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <h3 class="display-7">{{instructions}}</h3>
          <span>{{instructionsTip}}</span>

          <div class="d-flex flex-row justify-content-evenly flex-wrap">
            <div class="pt-3 bg-blue text-center skill-block border col-3">

              <mat-card class="example-card" appearance="outlined">
                <img mat-card-image [src]="ebayImage" alt="store-image">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-stroked-button (click)="openDialog(product!.id)">Publish</button>
                </mat-card-actions>
              </mat-card>

            </div>

            <div class="pt-3 bg-yellow text-center skill-block border col-3">
              <mat-card class="example-card" appearance="outlined">
                <img mat-card-image [src]="fiveSmilesImage" alt="store-image">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions class="sell-button">
                  <button mat-stroked-button class="" (click)="openDialog(product!.id)">Publish</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="pt-3 bg-red text-center skill-block border col-3">
              <mat-card class="example-card" appearance="outlined">
                <img mat-card-image [src]="facebookImage" alt="store-image">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-stroked-button (click)="openDialog(product!.id)">Publish</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>