.container {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.example-card {
  width: 100%;
  max-height: 800px;
  margin: 0;
  box-sizing: border-box;
}

/* Sobrescribir específicamente los estilos de mat-card-image */
::ng-deep .mat-card-image {
  width: 300px !important; /* Forzar ancho fijo */
  height: 200px !important; /* Forzar altura fija */
  object-fit: contain !important;
  margin: 0 auto !important;
  display: block !important;
}

.mat-card-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
}
