


.product-card
{
  align-items : center;
}


.custom-text-justify
{
  text-align: justify;
}


img[mat-card-image]
{
  max-width   : 500px;
  max-height  : 900px;
}


mat-card-actions
{
  display           :   flex;
  justify-content   :   center;
  align-items       :   center;
}



@media (max-width: 768px)
{
  img[mat-card-image]
  {
    max-width   : 300px;
    max-height  : 700px;
  }


  .store-card
  {
    padding-top : 0.5em;
  }


  mat-card-actions button
  {
    font-size : 0.8em;
  }
}
